* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c1daf8;
}

#create-dashboard-form {
    width:400px;
    padding:20px;
    text-transform: uppercase;
    background-color: #f8f9fa;
}

.title {
    margin-bottom: 20px;
    color: #0d6efd ;
}

.input-group {
    margin:20px 0; 
    position:relative;
}

.input-group label {
    display:inline-block;
    margin-bottom: 5px;
}

.input-group input {
    display:block;
    width:100%;
    padding:10px;   
}

 .input-group i {
     position:absolute;
     right:10px;
     top:35px;
     visibility: hidden;
 }


 .input-group p {
     font-size: 15px;
     color:red;
     visibility: hidden;
 }

 .error p {
     visibility: visible;
 }

 .btn {
     width:100%;
     padding:10px;
     font-size: 20px;
     background-color: #0d6efd;
     color:#fff;
     text-transform: uppercase;
     border:none;
 }



